<div class="container">
    <mat-grid-list cols="5">
      <mat-grid-tile *ngFor="let photo of photos" (deferLoad)="photo.show=true"> 
        <mat-card *ngIf="photo.show">
          <img  [class]="expression" mat-card-content src={{photo.thumbnailUrl}} alt="" (click)="photoClicked(photo.id)"/> 
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator 
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageInfoChanged($event)"> 
    </mat-paginator>
</div>
