<div class="fxFlex">
    <mat-toolbar color ="primary">
        <span>Photo Browser</span>
        <div fxLayout="row" fxLayoutAlign="end">
            <div fxLayout="row" fxLayoutAlign="end">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active"  mat-button fxFlex="auto">Home</a>
                <a [routerLink]="['/albums']" routerLinkActive="router-link-active"  mat-button fxFlex="auto">Albums</a>
                <a [routerLink]="['/users']" routerLinkActive="router-link-active"  mat-button fxFlex="auto">Users</a>
            </div>
        </div>
    </mat-toolbar>
</div>